* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

html,
body::-webkit-scrollbar {
    scrollbar-width: none;
}

.container {
    margin: auto;
}

.bi-envelope-fill {
    color: #674df0;
    padding-right: 6px;
}

.bi-geo-alt-fill {
    color: #674df0;
    padding-right: 6px;
}

.container a {
    text-decoration: none;
    color: #838694;
}

.container .fb-icon {
    color: #838694;
}

header {
    gap: 100px;
    position: sticky;
    top: 0;
    z-index: 4;
    margin: auto;
    background-color: #ffffff;
}

header ul {
    gap: 70px;
}

header ul li:first-child a {
    color: #1b1f2e;
}

header a {
    font-size: 16px;
    font-weight: 500;
}

header a:hover {
    color: #1b1f2e;
    transition-duration: 0.4s;
    animation-delay: 0.3s;
}

.search li .contact {
    color: #838694;
}

.search li .contact:hover {
    color: #1b1f2e;
    transition-duration: 0.8s;
}

.search i {
    color: #838694;
}

.call-container {
    position: relative;
}

.call-container::before {
    position: absolute;
    content: '';
    left: -52px;
    top: 65%;
    transform: translateY(-50%);
    width: 2px;
    height: 92px;
    background: #e9e9ee;
    z-index: -1;
}

.call-container .content p {
    color: #838694;
    font-size: 14px;
}

.call-container .content h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 0;
}

.hero-section {
    background-image: url(images/banner-bg-1.webp);
    background-size: cover;
    height: 600px;
    margin-top: 30px;
    text-align: center;
}

.hero-content {
    color: #ffffff;
}

.hero-content .box1 {
    background-color: #674df0;
    height: 46px;
    width: 46px;
    margin: auto;
    margin-bottom: 15px;
    position: relative;
}

.hero-content .box2 {
    background-color: #29f0b4;
    height: 17px;
    width: 17px;
    position: absolute;
    content: '';
    right: 0;
    top: 0;
}

.hero-content p {
    font-size: 20px;
}

.hero-content hr {
    max-width: 347px;
    margin: auto;
}

.hero-content h2 {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 90px;
    max-width: 1000px;
    text-align: center;
    margin: auto;
    line-height: 100%;
}

.hero-content a {
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    letter-spacing: 4px;
    background-color: #29f0b4;
    color: #1b1f2e;
    padding: 30px 50px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
}

.hero-content a span {
    position: absolute;
    background-color: #1b1f2e;
    height: 20px;
    width: 25px;
    top: 0;
    bottom: 0;
    right: 0;
    animation-delay: 0.8s;
    transition: all 0.4s ease-in-out;
    z-index: -1;
}

.hero-content a:hover span {
    width: 100%;
    height: 100%;
}

.hero-content a:hover {
    color: #ffffff;
}

.top-categories-container {
    background-image: url(images/categories-bg.webp);
    background-size: cover;
    height: 500px;
    gap: 100px;
}

.top-categories {
    color: #ffffff;
}

.squarebox {
    background-color: #29f0b4;
    /* font-size: 18px; */
    height: 7px;
    width: 7px;
    position: relative;
    top: 8px;
}

.top-categories h2 {
    font-size: 60px;
    font-family: 'Abril Fatface', sans-serif;
}

.top-categories p {
    color: #d1c8fe;
    font-size: 18px;
    font-weight: 400;
}

.table-container table {
    background-color: #ffffff;
}

.lorem {
    max-width: 470px;
    line-height: 34px;
    margin-top: 40px;
    font-size: 18px;
}

td {
    padding: 80px 60px;
    text-align: center;
    border-left: 2px solid #674df0;
    border-bottom: 2px solid #674df0;
    font-size: 18px;
    font-weight: 500;
}

.idea {
    background-image: url(images/cta-bg.webp);
    height: 220px;
    background-size: cover;
    max-width: 1220px;
    margin: auto;
    padding: 0 80px;
}

.idea h2 {
    font-size: 40px;
    font-family: 'Abril Fatface';
    color: #1b1f2e;
}

.idea a {
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    letter-spacing: 4px;
    background-color: #1b1f2e;
    color: #ffffff;
    padding: 30px 50px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
}

.idea a span {
    position: absolute;
    background-color: #ffffff;
    height: 20px;
    width: 25px;
    top: 0;
    bottom: 0;
    right: 0;
    animation-delay: 0.8s;
    transition: all 0.4s ease-in-out;
    z-index: -1;
}

.idea a:hover {
    color: #1b1f2e;
}

.idea a:hover span {
    width: 100%;
    height: 100%;
}

.business {
    margin-top: 100px;
}

.business h2 {
    font-size: 60px;
    font-family: 'Abril Fatface', sans-serif;
}

@media (max-width: 1400px) {
    header ul {
        gap: 50px;
    }
}